---
layout: "page"
title: Home
---

{% include header.html %}
{% include sideNav.html %}


    <div class="container-responsive p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column home-section" id="about">
              
        <div class="my-auto">
          
          <hr class="m-0">
<br><br>
          <div class="subheading mb-5" style="font-size: 40px;line-height: 1.3em;padding-left:75px;padding-right:75px;">Hello, I am <strong>Andy Mayer</strong> - a software developer with a track record of leading the research, design and delivery of new digital services for people struggling with life.

          </div>
          <p class="lead mb-5" style="padding-top:15px;padding-left:75px;padding-right:75px;font-size: 17px;">I've spent the last 12 years as Strategy Director at Yoomee – on a mission to help non-profits innovate like tech startups, using methodologies such as Lean Startup and Agile.<br><br>

During this time I've gained considerable experience designing for vulnerable users, with users – including young people and people with mental health problems.<br><br>

I can help you grow teams and implement innovation processes to design and deliver new digital services to make the world a better place. I'm particularly interested in projects with the potential to achieve social impact at scale.<br><br>

In my spare time I volunteer as a chaplain in the local prison and am also helping prisoners learn to code with Code4000.<br><br>

I'm currently helping non-profits understand and harness the latest developments in chatbots and artificial intelligence.<br><br>

“The test of our progress is not whether we add more to the abundance of those who have much it is whether we provide enough for those who have little.”
— Franklin D. Roosevelt</p>


<hr class="m-0">

          
      </section>



    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.min.js"></script>

  </body>

</html>

{% include footer.html %}