---
layout: "page"
---


---
title: Key Achievements 
page: post
----

{% include header.html %}
{% include sideNav.html %}

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Park
            <span class="text-primary">Hill</span>
          </h1>
          

          <div class="subheading mb-5">In 2016 I undertook a £550K project to convert 4,300 square feet of space at Park Hill into a unique studio space that would support collaborative and Agile working.

              <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder1.png" alt="">

            <hr class="m-0">
          </div>
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">

          <hr class="m-0">
          <h1 class="mb-0">Backround</h1>
          <p class="lead mb-5">Park Hill is a giant, concrete Brutalist structure that started life as a bustling new home for council tenants in the late 1950s. It was one of the most ambitious inner-city housing projects of its era and has become something of a local landmark. Controversially it was Grade II listed in 1998 making it the largest listed building in Europe.<br><br>

              Three-metre-wide communal walkways – known as the "streets in the sky" promoted by Le Corbusier's Unité d'Habitation – were designed as a modern replacement for the cobbled terraces of the former slums. They were wide enough to let a milk float go by or to allow children to play outdoor games, and were planned to encourage neighbours to interact with one another as they might on a regular street.<br><br>
              
              Sadly, Park Hill soon became notorious for its crime and drug problems. The building was eventually condemned as a concrete eyesore and is hated by many in Sheffield. Over the past few years, award-winning property developers, Urban Splash, have taken it on as a huge regeneration project and made some of the space available for commercial use, alongside residential and social housing.</p>
          
              <img class="img-fluid img-profile rounded-circle mx-auto mb-2 placeholder3" src="img/placeholder3.png" alt="">
              
              <hr class="m-0">

              <h1 class="mb-0">Results</h1>           

              <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/placeholder2.png" alt="">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2 placeholder2" src="img/placeholder2.png" alt="">

<!-- 
              <div class="social-icons">
            <a href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="#">
              <i class="fab fa-github"></i>
            </a>
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </div>
        </div> -->
      </section>

      <hr class="m-0">

      <img class="img-fluid img-profile rounded-circle mx-auto mb-2 placeholder3" src="img/placeholder3.png" alt="">
      
      <hr class="m-0">

      <h1 class="mb-0" style="text-align:center">The unit is currently let until April 2021. If you are interested in leasing the space please do click here to get in touch.</h1>

      <hr class="m-0">
