---
title: Resume
page: post
----

{% include header.html %}
{% include sideNav.html %}


    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-10 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Andy
            <span class="text-primary">Mayer</span>
          </h1>

          <div class="subheading mb-5">BEng FRSA <br> Business and Technology Leader, Innovator and Strategist

          </div>

        </div>


      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Yoomee</h3>
              <div class="subheading mb-3">Chatbot developer and conversation designer</div>
              <p>Researching, designing and building new digital products that engage with humans using natural conversation (called "chatbots"). Helping non-profits use AI and chatbots for social change. Building products using IBM Watson and Rasa,  the industry-leading AI technology.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2017 - present</span>
            </div>
            <div class="subheading mb-3">Founder and Strategy Director</div>
            <p>Founded and led Yoomee to become a highly respected digital agency for its specialisms in co-creation, service design and Agile delivery of social good projects.

Developed strategy behind the design and delivery of over 70 digital innovation projects for non-profit clients including Save the Children, Mind, Time to Change, Eden Project and Girlguiding. Examples include:
<ul class="list-inline dev-icons">
  <li class="list-inline-item">
    <i class="fab">
    Mind: Elefriends online peer support community; a lifeline for over 80,000 people struggling to cope with life
  </i></li>
  <li class="list-inline-item">
    <i class="fab">vInspired: online volunteering service used to deliver over 1 million volunteering opportunities to young people</i>
  </li>
  <li class="list-inline-item">
    <i class="fab">Kirklees Council: Comoodle, a new model of service delivery emphasising two-way transactions</i>
  </li>
  <li class="list-inline-item">
    <i class="fab">Breast Cancer Now: fundraising tool helping friends and family honour loved ones lost to cancer</i>
  </li>
  <li class="list-inline-item">
    <i class="fab">Save the Children: strategy exploring a radical move to put children and young people at the charity's heart</i>
  </li>
</ul>
Recruited, grew and led a multi-disciplinary team of 20 employees. Implemented business processes for service designers, software developers and researchers. <br>

One of eight agencies in the Northern Tech 100 league table of fastest growing digital companies in 2017. Voted by @GovStart as one of the top 100 companies disrupting the public sector.
</p>

          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2006 - present</span>
          </div>
          </div>

          <hr class="m-0">

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Juize A/S & Freelance</h3>
              <div class="subheading mb-3">Software developer, project manager and technical team leader</div>
              <p>Technical lead in a number of dot com startups in the USA and Europe. Project manager responsible for building and managing a team of multi-lingual developers across three continents (USA, Denmark and Egypt). My freelance business won UKBI Incubated Business of the Year.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2006 - 2006</span>
            </div>
          </div>

          <hr class="m-0">

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Columbus IT Denmark</h3>
              <div class="subheading mb-3">Senior consultant for Microsoft Solutions Provider</div>
              <p>Responsible for developing and rolling out proprietary international project implementation method (similar to PRINCE2) to ensure consistent quality and approach across 20 subsidiary companies throughout Europe.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">1998 - 2000</span>
            </div>
          </div>

          <hr class="m-0">

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">British Steel plc</h3>
              <div class="subheading mb-3">Business Analyst</div>
              <p>After being sponsored through my university course started as a graduate management trainee.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">1992 - 1998</span>
            </div>
          </div>

          <hr class="m-0">

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Education & awards</h3>
              <div class="subheading mb-3">2015 - present: Fellow (FRSA)</div>
              <p>Invited to become a Fellow of the RSA (Royal Society for the encouragement of Arts, Manufactures and Commerce) in light of my exceptional commitment to producing technology with social purpose through my role at Yoomee.</p>

              <div class="subheading mb-3">1998: Aston Business School</div>
              <p>Certificate in Management</p>

              <div class="subheading mb-3">1988 - 1992: The University of Salford</div>
              <p>B Eng Electronics and Software Engineering (2:1)</p>

              <div class="subheading mb-3">1986 - 1988: John Leggott Sixth Form College</div>
              <p>IFour A levels, including double maths and physics</p>

              <hr class="m-0">

              <div class="resume-item d-flex flex-column flex-md-row">
                <div class="resume-content mr-auto">
                  <h3 class="mb-0">Volunteering</h3>
                  <div class="subheading mb-3">2014 - present: Working with offenders</div>
                  <p>Piloted a business apprenticeship for a young offender. Volunteer mentor on Code4000 project teaching offenders to code. Volunteer prison chaplain for Serco at HMP Doncaster.</p>

                  <div class="subheading mb-3">2015 - present: Sheffield Digital, founder and board member</div>
                  <p>Part of the team which created Sheffield Digital – the city's first trade association to bring together the digital industries. There are now 900 participating community members.</p>

                  <div class="subheading mb-3">2015 - 2017: Sheffugee hack days, Founder and organiser</div>
                  <p>Organised and recruited volunteers for a series of hackdays to develop a digital solution to help local refugee organisations. Used a co-design approach with service users to develop an online service now used by 20 organisations across the city. 3,000 people directly benefitting, including 900 destitute asylum seekers who have been refused asylum.</p>

                  <div class="subheading mb-3">2016: Sheffield Tech For Good</div>
                  <p>Started a series of meetups to bring together digital experts with the local voluntary organisations. Addressed themes such as mental health, refugees and the environment</p>

                  <div class="subheading mb-3">2014 - 2015:  Mentor with Young Rewired State</div>
                  <p>The Festival of Code is the world's largest hackathon for young people and involves over 1,000 coders hosted at 70 centres across the UK. I hosted and ran the Sheffield centre for two years and mentored 15 young people over this period.</p>

      <hr class="m-0">

      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Interests</h3>
          <div class="subheading mb-3">Conversational UX and artificial intelligence for social good</div>
          <p>Following a series of online courses from MIT and Stanford on Machine Learning. Researching and coding an AI-powered chatbot called Pebble for mental health support in Sheffield.</p>

          <div class="subheading mb-3">Brutalist architecture/design of studio spaces</div>
          <p>In 2016 I undertook a project to convert 1,300 square metres of space in a 1950's concrete Brutalist building into a custom design space for collaborative working.</p>

          <hr class="m-0">
  </section>
    {% include footer.html %}
