<div class="social-icons" style="text-align: center;
padding-top: 50px;">
  <a href="#">
    <i class="fab fa-linkedin-in"></i>
  </a>
  <a href="#">
    <i class="fab fa-github"></i>
  </a>
  <a href="#">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="#">
    <i class="fab fa-facebook-f"></i>
  </a>
</div>
   
   <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.min.js"></script>

  </body>

</html>


